html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	color: #636E75;
	font: Verdana;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #38B0E3;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
/* layout */
#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#column-left {
	float: left;
	width: 170px;
}
#column-right {
	float: right;
	width: 170px;
}
#content {
	min-height: 400px;
	margin-bottom: 25px;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 185px;
}
#column-right + #content {
	margin-right: 185px;
}
/* header */
#header {
	height: 230px;
	margin-bottom: 7px;
	padding-bottom: 4px;
	position: relative;
	z-index: 99;
	border: 2px solid #333;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-khtml-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
}
#header #logo {
	position: absolute;
	top: 8px;
	right: 0px;
	z-index: 9;
	min-width: 300px;
}

#language {
    font-size: 12px;
    font-weight: bold;
    margin-top: 7px;
	width: 127px;
	float: right;
	margin-right: 20px;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #fff;
	background: #999;
	border: 1px solid #333;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-khtml-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
}
#language img {
	cursor: pointer;
}
#currency {
    font-size: 11px;
    font-weight: bold;
    margin-top: 7px;
	width: 110px;
	float: right;
	margin-right: 50px;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #fff;
	background: #999;
	border: 1px solid #333;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-khtml-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	
}
#currency a {
	padding: 0px 3px;
	color: #fff;
	text-decoration: none;
	margin-right: 2px;
	
}
#currency a b {
	color: #fff;
	text-decoration: none;
}
#header #cart {
	position: absolute;
	top: 140px;
	right: 350px;
	z-index: 9;
	min-width: 300px;
}
#header #cart .heading {
    background: url('../image/bghcart.jpg') left top no-repeat;
	float: right;
	margin-right: 0px;
	padding-left: 70px;
	padding-right: 14px;
	padding-top: 10px;
	padding-bottom: 5px;
	position: relative;
	z-index: 1;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px ;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	border-left: 1px solid #ccc;
	border-top:  1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#header #cart .heading h4 {
	color: #f00;
	font-size: 14px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 8px;
}
#header #cart .heading a {
	color: #444;
	text-decoration: none;
}
#header #cart .heading a span {
	background:  url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}

#header #cart.active .heading {
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
#header #cart.active .content {
	display: block;
}
#header #cart .cart {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
#header #cart .cart td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
#header #cart .cart .image {
	width: 1px;
}
#header #cart .cart .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
#header #cart .cart .name small {
	color: #666;
}
#header #cart .cart .quantity {
	text-align: right;
}
#header #cart .cart td.total {
	text-align: right;
}
#header #cart .cart .remove {
	text-align: right;
}
#header #cart .cart .remove img {
	cursor: pointer;
}
#header #cart table.total {
	border-collapse: collapse;
	padding: 5px;
	float: right;
	clear: left;
	margin-bottom: 5px;
}
#header #cart table.total td {
	color: #000;
}
#header #cart .content .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}

#header #callus {
	position: absolute;
	top: 120px;
	right: 620px;
	z-index: 9;
	min-width: 300px;
}

#header #xdate {
	position: absolute;
	top: 10px;
	right: 100px;
	z-index: 9;
	min-width: 300px;
}

.bmenu #search {
	position: relative;
	float: right;
	width: 90px;
	z-index: 15;
	margin-top: 7px;
	margin-right: 120px;
}
.bmenu .button-search {
	position: absolute;
	left: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 28px;
	height: 23px;
	border-right: 1px solid #333;
	cursor: pointer;
}
.bmenu #search input {
	background: #444;
	padding: 1px 1px 1px 33px;
	width: 164px;
	height: 21px;
	color: #fff;
	border: 1px solid #333;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;	
}
#header #welcome {
	position: absolute;
	top: 47px;
	right: 0px;
	z-index: 5;
	width: 298px;
	text-align: right;
	color: #999999;
}
#header .links {
	position: absolute;
	right: 0px;
	bottom: 3px;
	font-size: 15px;
	font-weight: bold;
	padding-right: 10px;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #38B0E3;
	text-decoration: none;
	font-size: 15px;
}
#header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}

/* menu */
#menu {
	background: url('../image/navbg.jpg') no-repeat;
	height: 30px;
	margin-bottom: 15px;
	padding: 0px 2px;
	margin-top: 6px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	float: right;
	z-index: 20;	
}
#menu > ul > li:hover {
	background: #ddd;
}
#menu > ul > li > a {
	font-size: 15px;
	font-weight: bold;
	color: rgb(102, 102, 102);
	line-height: 11px;
	text-decoration: none;
	display: block;
	padding: 9px 8px 9px 8px;
	font-family: "Lucida Grande", "Helvetica", "Arial", "Verdana", sans-serif;
	z-index: 6;
	position: relative;
	border-right: 1px solid #d7d7d7;
}
#menu > ul > li > div {
	display: none;
	background: #eee;
	position: absolute;
	z-index: 5;
	padding: 5px;
	border: 1px solid #bbb;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
     font-family: "Lucida Grande", "Helvetica", "Arial", "Verdana", sans-serif;
	 font-size: 15px;
	text-decoration: none;
	padding: 4px;
	color: rgb(102, 102, 102);
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {
	background: #ddd;
}
#menu > ul > li > div > ul > li > a {
	color: rgb(102, 102, 102);
}
.breadcrumb {
    float: right;
    font-size: 14px;
    font-weight: bold;
	color: #CCCCCC;
	margin-bottom: 10px;
}
.breadcrumb a {
    color: #999;
}
.breadcrumb a:hover {
    color: #333;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #111;
}
.success {
	background: #eee url('../image/success.png') 10px center no-repeat;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.warning {
	background: #eee url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.attention {
	background: #eee url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.information {
	background: #eee url('../image/information.png') 10px center no-repeat;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
table.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
a.button {
	display: inline-block;
	padding-left: 8px;
	background: url('../image/button-left.png') top left no-repeat;
	text-decoration: none;
	cursor: pointer;
}
a.button span {
	color: #444;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 7px 12px 9px 5px;
	background: url('../image/button-right.png') top right no-repeat;
}
a.button:hover {
	background: url('../image/button-left-active.png') top left no-repeat;
}
a.button:hover span {
	color: #000;
	background: url('../image/button-right-active.png') top right no-repeat;
}
.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;		
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;	
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD; 
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}
/* box */
.box {
	margin-bottom: 20px;
}

#column-right .box .box-heading, #column-left .box .box-heading {
    
	background: url('../image/topbox.jpg') no-repeat;
	padding: 7px 10px 6px 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	line-height: 12px;
	color: #fff;
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-khtml-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	border: none;
}

.box .box-heading {
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #fff;
	background: url('../image/topbox2.jpg') repeat-x;
	padding: 7px 10px 6px 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
	font-size: 14px;
	font-weight: bold;
	line-height: 12px;
	color: #fff;
}
.box .box-content {
	background: #FFFFFF;
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	padding: 3px;
}
.box .box-content2 {
    background: url('../image/background.png') repeat;
   	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
	border-radius: 0px 0px 7px 7px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	text-align: right;
	font-size: 17px;
	font-weight: bold;

}
.box .box-content2 a:hover {
    color: #f00;
}
/* box products */
.box-product {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
	width: 100%;
	overflow: auto;
}
	
.box-product > div {
	width: 135px;
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	margin-bottom: 15px;	
	text-align: center;
}

.box-product > div:hover .name a{
    color: #ff0000;
} 
.box-product > div:hover .image img {
	opacity:.75;
	filter:alpha(opacity=85);
	}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.box-product .name a {
	color: #111;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.box-product .price {
    font-family: "Arial", "Helvetica", sans-serif;
	display: block;
	color: #ffff00;
	margin-bottom: 4px;
	float: left;
}
.box-product .price-old {
    font-family: "Arial", "Helvetica", sans-serif;
	color: #ffff00;
	text-decoration: line-through;
	font-size: 10px;
}
.box-product .price-new {
    font-family: "Arial", "Helvetica", sans-serif;
	color: #ffff00;
	
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
.box-category {
	margin-top: -5px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
.box-category > ul > li {
	padding: 5px 8px 5px 0px;
	border-bottom: 1px dotted #ccc;
}
.box-category > ul > li + li {
	
}
.box-category > ul > li > a {
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #111;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
}
.box-category > ul > li:hover > a {
    color: #f00;
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	font-weight: bold;
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
    overflow: auto;
    margin-bottom: 20px;
    border: 3px solid #E7E7E7;
}
.category-info .image {
    padding: 5px;
	margin-left: 500px;
}
.category-info .descp {
    padding: 5px;
	margin-right: 50px;
}
.category-list-title {
   	float: right;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: right;
	width: 18%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
}
.category-list ul li a {
    text-decoration: none;
    font-weight: bold;
	color: #ff6600;
}
.category-list ul li:hover a {
    color: #333;
}
.category-list .div a {
	text-decoration: none;
	font-weight: bold;
	color: #ff6600;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 5px;
	overflow: auto;
	font-size: 15px;
	font-weight: bold;
}
.product-filter .display {
	margin-right: 15px;
	float: right;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
	color: #ff6600;
	text-decoration: none;
}
.product-filter .limit {
	margin-left: 15px;
	float: left;
	color: #333;
}
.product-filter .sort {
	float: left;
	color: #333;
}
.product-filter .limit a {
    text-decoration: none;
	color: #f00;
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	margin-left: 530px;
	font-weight: bold;
	font-size: 14px;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
	color: #ff6600;
}
.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list > div:hover .name a {
    color: #f00;
}
.product-list > div:hover .image img {
	opacity:.75;
	filter:alpha(opacity=85);
	}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float: right;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #333;
	font-weight: bold;
	font-size: 13px;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 5px;
	display: block;
	font-weight: bold;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 5px;
	display: block;
	font-weight: bold;
}
.product-list .wishlist a:hover {
    color: #000;
}
.product-list .compare a:hover {
    color: #000;
}
.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
	width: 130px;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	margin-bottom: 15px;
}
.product-grid > div:hover .name a {
    color: #f00;
}
.product-grid > div:hover .image img {
	opacity:.75;
	filter:alpha(opacity=85);
	}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-grid .name a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.product-grid .description {
	color: #4D4D4D;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	font-weight: bold;
	color: #f00;
	margin-bottom: 4px;
}
.product-grid .price-old {
	color: #333;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 5px;
	display: block;
	font-weight: bold;
}
.product-grid .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 5px;
	display: block;
	font-weight: bold;
}
.product-grid .wishlist a:hover {
    color: #000;
}
.product-grid .compare a:hover {
    color: #000;
}
/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 265px;
}
.product-info .image {
	border: 1px solid #E7E7E7;
	float: left;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.product-info .image-additional {
	width: 260px;
	margin-left: -10px;
	clear: both;
	overflow: hidden;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
}
.product-info .description {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
}
.product-info .description span {
	color: #ff6600;
}
.product-info .description a {
	color: #f00;
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #f00;
}
.product-info .price-old {
	color: #000;
	text-decoration: line-through;
}
.product-info .price-new {
	
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #333;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .cart {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart a{
    color: #000;
	text-decoration: none;
	font-weight: bold;
}
.product-info .cart a:hover {
    color: #f00;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #ff6600;
}
.product-info .review a {
    color: #ff6600;
	text-decoration: none;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-product td {
	padding: 7px;
}
.wishlist-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product thead .remove, .wishlist-product thead .image, .wishlist-product thead .cart {
	text-align: center;
}
.wishlist-product thead .name, .wishlist-product thead .model, .wishlist-product thead .stock {
	text-align: left;
}
.wishlist-product thead .quantity, .wishlist-product thead .price, .wishlist-product thead .total {
	text-align: right;
}
.wishlist-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product tbody .remove {
	vertical-align: middle;
}
.wishlist-product tbody .remove, .wishlist-product tbody .image, .wishlist-product tbody .cart {
	text-align: center;
}
.wishlist-product tbody .name, .wishlist-product tbody .model, .wishlist-product tbody .stock {
	text-align: left;
}
.wishlist-product tbody .quantity, .wishlist-product tbody .price, .wishlist-product tbody .total {
	text-align: right;
}
.wishlist-product tbody .price s {
	color: #F00;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 33.3%;
}
.return-model {
	float: left;
	width: 33.3%;
}
.return-quantity {
	float: left;
	width: 33.3%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 33.3%;
}
.return-opened {
	float: left;
	width: 33.3%;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-remove {
	float: left;
	width: 33.3%;
	padding-top: 90px;
	text-align: center;
	vertical-align: middle;
}
.return-additional {
	overflow: auto;
	margin-bottom: 20px;
}
.return-comment {
	float: left;
	width: 49%;
}
.return-captcha {
	float: right;
	width: 49%;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .remove, .cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model {
	text-align: left;
}
.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .remove {
	vertical-align: middle;
}
.cart-info tbody .remove, .cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model {
	text-align: left;
}
.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module .cart-heading {
	border: 1px solid #DBDEE1;
	padding: 8px 8px 8px 22px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
	cursor: pointer;
	background: #F8F8F8 url('../image/arrow-right.png') 10px 50% no-repeat;
}
.cart-module .active {
	background: #F8F8F8 url('../image/arrow-down.png') 7px 50% no-repeat;
}
.cart-module .cart-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 20px;
	margin-bottom: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
	background: url('../image/background.png') repeat;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px ;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	border-left: 1px solid #ccc;
	border-top:  1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#footer h3 {
	color: #E00000;
	text-align: left;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 8px;
	margin-left: 70px;
}
#footer .column {
	width: 25%;
	min-height: 100px;
	float: left;
}
#footer .column ul {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
	margin-top: 0px;
	margin-left: 75px;
	padding-left: 12px;
}
#footer .column ul li {
	margin-bottom: 3px;
}
#footer .column a {
	text-decoration: none;
	color: #000;
}
#footer .column a:hover {
	text-decoration: none;
	color: #f00;
}
#sitelock {
	text-align: center;
}
#powered {
    font-size: 14px;
    font-weight: bold;
	margin-top: 5px;
	text-align: center;
	clear: both;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
}
.banner div img {
	margin-bottom: 20px;
}
/*New Classes */

a.button2 {
	display: inline-block;
	padding-left: 6px;
	background: url('../image/bleft.png') top left no-repeat;
	text-decoration: none;
	cursor: pointer;
}
a.button2 span {
	color: #444;
	line-height: 11px;
	font-size: 11px;
	display: inline-block;
	padding: 5px 7px 6px 1px;
	background: url('../image/bright.png') top right no-repeat;
}
a.button2:hover {
	background: url('../image/bleft2.png') top left no-repeat;
}
a.button2:hover span {
	color: #000;
	background: url('../image/bright2.png') top right no-repeat;
}

.bmenu {
    width: 980px;
	height: 40px;
	background: url('../image/bmenu.jpg') no-repeat;
	margin-top: 5px;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-khtml-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
    border: 2px solid #000;
}
.bmenu .links {
    float: left;
}
.bmenu .links a {
    font-size: 12px;
	display: inline-block;
	margin-top: 5px;
	text-decoration: none;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 6px;
	color: #EAC117;
	background: #333;
	-webkit-border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-khtml-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;

}
.bmenu .links a:hover {
    background: #C0C0C0;
    color: #000;
}
a.homel {
	margin-left: 10px;
	margin-top: 2px;
    padding: 18px;
	background:  url('../image/homel2.png') no-repeat;
	float: left;
	display: inline-block;
}
a.homel:hover {
    background:  url('../image/homel3.png') no-repeat;
}
.box-info {
	margin-top: -5px;
	margin-left: 10px;
}
.box-info ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
.box-info > ul > li {
	padding: 5px 8px 5px 0px;
	border-bottom: 1px dotted #ccc;
}
.box-info > ul > li > a {
	text-decoration: none;
	color: #111;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
}
.box-info > ul > li:hover > a {
    color: #f00;
}
.tab-title {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
    color: #f00;
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	padding: 10px;
	margin-bottom: 10px;
	background: url('../image/background.png') repeat;
	-webkit-border-radius: 7px 7px 0px 0px ;
	-moz-border-radius: 7px 7px 0px 0px ;
	-khtml-border-radius: 7px 7px 0px 0px ;
	border-radius: 7px 7px 0px 0px ;
	border-left: 1px solid #ccc;
	border-top:  1px solid #ccc;
	border-right: 1px solid #ccc;
}
.tab-content {
	border: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
	margin-top: 10px;
}
a.minfo {
	margin-left: 1px;
	margin-top: 2px;
    padding: 13px;
	background:  url('../image/minfo.png') no-repeat;
	float: right;
	display: inline-block;
}
a.mcart {
	margin-left: 1px;
	margin-top: 2px;
    padding: 13px;
	background:  url('../image/mcart.png') no-repeat;
	float: right;
	display: inline-block;
}
.mprice {
    width: 77px;
	height: 25px;
	margin-top: 2px;
	text-align: center;
	background:  url('../image/mprice2.png') no-repeat;
}
.mprice  .prick {
    padding-top: 6px;
}
a.minfo:hover {
	background:  url('../image/minfo2.png') no-repeat;
}
a.mcart:hover {
	background:  url('../image/micart2.png') no-repeat;
}
.mprice2 {
    width: 77px;
	height: 25px;
	margin-top: 2px;
	text-align: center;
	background:  url('../image/mprice2.png') no-repeat;
}
.mprice2  .prick {
    padding-top: 6px;
}
.prodside {
    width: 100%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", "Verdana";
}
.prodside td {
     width: 100%;
	 border-bottom: 1px solid #DBDEE1;
}
.prodside td a {
     text-decoration: none; 
	 color: #000; 
	 font-weight: bold;
	 }
.prodside td:hover a {
     color: #f00;
}
a.button5 {
	display: inline-block;
	padding-left: 40px;
	background: url('../image/button_left.png') top left no-repeat;
	text-decoration: none;
	cursor: pointer;
}
a.button5 span {
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 9px 5px 10px 0px;
	background: url('../image/button_right.png') top right no-repeat;
}
a.button5:hover {
	background: url('../image/button_left_active.png') top left no-repeat;
}
a.button5:hover span {
	color: #FFFFFF;
	background: url('../image/button_right_active.png') top right no-repeat;
}